<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hero Form</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">

</head>
<body>
<main class="container">
    <h1>New Hero</h1>

    <form th:action="@{/hero/new}" method="post" th:object="${newHero}">
        <div class="form-group row">
            <label for="nameInput" class="col-sm-1 col-form-label">Name</label>
            <input id="nameInput" type="text" class="mb-1" th:field="*{hero.name}">
        </div>
        <div class="form-group row">
            <label for="cityInput" class="col-sm-1 col-form-label">City</label>
            <input id="cityInput" type="text" class="mb-1"  th:field="*{hero.city}">
        </div>
        <div class="form-group row">
            <label for="universumInput" class="col-sm-1 col-form-label">Universum</label>
            <select id="universumInput" class="mb-1" th:field="*{hero.universum}">
                <option th:each="universum : ${T(com.github.sparsick.testcontainerspringboot.hero.universum.ComicUniversum).values()}"
                        th:value="${universum}"
                        th:text="${universum.displayName}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <p><input role="button" class="btn btn-outline-secondary fas" type="submit" value="&#xf505; Add hero"></p>
        </div>
    </form>
</main>
</body>
</html>
